{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
    Google Fonts
{% endblock %}

{% block error %}{{ error }}{% endblock %}

{% block main %}

    <div id="alpdeskgooglefonts_container">

        <div id="alpdeskgooglefonts_fontitemscontainer">

            {% for fontItem in fontItems %}

                <div class="alpdeskgooglefontitem">

                    <div class="alpdeskgooglefontitem_inside">

                        <form method="post">

                            <input type="hidden" name="REQUEST_TOKEN" value="{{ token }}">
                            <input type="hidden" name="fontId" value="{{ fontItem.id }}">
                            <input type="hidden" name="fontVersion" value="{{ fontItem.version }}">
                            <input type="hidden" name="exportFont" value="1">

                            <h2>
                                {{ fontItem.family }} | <small> {{ fontItem.category }}, {{ fontItem.version }}
                                    , {{ fontItem.lastModified }}</small>
                            </h2>

                            <div class="alpdeskgooglefontitem_variant">

                                <h4>Variants</h4>

                                {% for variant in fontItem.variants %}

                                    <div>

                                        {% if fontItem.defVariant == variant %}
                                            <input type="checkbox" name="fontVariants[]"
                                                   value="{{ variant }}" checked="checked"> {{ variant }}
                                        {% else %}
                                            <input type="checkbox" name="fontVariants[]"
                                                   value="{{ variant }}"> {{ variant }}
                                        {% endif %}


                                    </div>

                                {% endfor %}

                            </div>

                            <div class="alpdeskgooglefontitem_subsets">

                                <h4>Subset</h4>

                                {% for subset in fontItem.subsets %}

                                    <div>

                                        {% if fontItem.defSubset == subset %}
                                            <input type="checkbox" name="fontSubsets[]"
                                                   value="{{ subset }}" checked="checked"> {{ subset }}
                                        {% else %}
                                            <input type="checkbox" name="fontSubsets[]"
                                                   value="{{ subset }}"> {{ subset }}
                                        {% endif %}
                                    </div>

                                {% endfor %}

                            </div>

                            <button type="submit" name="export" class="tl_submit">Export</button>

                        </form>

                    </div>

                </div>


            {% endfor %}

            <div class="alpdeskgooglefonts_clear"></div>

        </div>

    </div>



{% endblock %}